---
const { title = "ttools" } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <!-- Umami Analytics -->
    <script defer src="https://msgu.ttools.io/script.js" data-website-id="8e027c9f-dd38-443c-8773-548e15b1c3c4"></script>
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
